<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <div class="container">
      <div class="info">
        <% info.forEach(function(info){ %>
          <h2><%= info.visitor %></h2>
          <h4><%= info.node %></h4>
          <h4><%= info.npm %></h4>
        <% })%>
        <p> Hello </p>
      </div>
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% typeof weather === 'undefined' %>
          <p><%= weather %></p>


        <% typeof error === 'undefined'%>
          <p><%= error %></p>

      </fieldset>
    </div>
  </body>
</html>
